html, body>*{
	box-sizing: border-box;
	padding: 0px; margin: 0px;
}


body,html
{
	margin: 0px; padding: 0px;
	width: 100%;height: 100%;
	border: none;
}



header > a, header>a:hover, header>a:visited
{text-decoration: none;}






/*Grid System*/


header { grid-area: header;}
nav { grid-area: nav; background-color: yellow;}
main { grid-area: main; background-color: blue;}
footer { grid-area: footer; background-color: brown;}
.side_nav_left{grid-area: side_nav_left; 
	background-color: transparent; display: inline;}
.side_nav_right{grid-area: side_nav_right; 
	background-color: transparent; display: inline;
}

body {
	display: grid;
	grid-template-areas:
    'header header header'
    'nav nav nav'
    "side_nav_left main side_nav_right"
    'footer footer footer';
	grid-gap: 0px 0px;
	grid-template-columns: 2% 96% 2%;
	grid-template-rows: 50px 50px auto 50px;
}

