
.product_card
{
	background-color: lightgrey;
	border: solid 1px black;
	border-radius: 3px;
	margin : 10px 0px;
	padding: 5px;
	transition: background .5s;
}
.product_card:hover
{
	background-color: white;
}









/*Grid System*/




.product_name_grid
{grid-area: product_name_grid; background-color: magenta;}
.product_author_grid { grid-area: product_author_grid; background-color: grey;}
.product_price_grid { grid-area: product_price_grid; background-color: yellow;}
.product_in_stock_grid { grid-area: product_in_stock_grid; background-color: lightgrey;}
.product_details_grid { grid-area: product_details_grid; 
	background-color: pink; display: block;
	width: 100%; height: 100%;
}


.product_card {
	display: grid;
	grid-template-areas:
    'product_name_grid product_name_grid product_author_grid'
    'product_price_grid product_price_grid product_price_grid'
    "product_in_stock_grid product_details_grid product_details_grid";
	grid-gap: 5px 5px;
	/*grid-template-columns: 33% 33% 34%;*/
	grid-template-rows: 70px 55px 50px ;
}




