/*Grid System*/




.product_name_grid
{
	grid-area: product_name_grid; 
	/*background-color: magenta;*/
}



.product_price_grid 
{ 
	grid-area: product_price_grid; 
	/*background-color: yellow;*/
}
.product_in_stock_grid 
{ 
	grid-area: product_in_stock_grid; 
	/*background-color: grey;*/
}



.product_card {
	display: grid;
	grid-template-areas:
    'product_name_grid product_name_grid product_name_grid'
    "product_price_grid product_price_grid product_in_stock_grid";
	grid-gap: 5px 5px;
	grid-template-columns: 33% 33% 34%;
	grid-template-rows: 70px 55px ;
}







/*Styling*/







.product_card, .product_card:hover,
.product_card:active, .product_card:visited
{
	background-color: #dbfdff;
	border: solid 1px black;
	border-radius: 3px;
	margin : 15px 0px;
	transition: background .5s;
	color: black;
	text-decoration: none;
	font-size: 1.5em;
	padding: 1%;
	padding-bottom: 0px;
}


.product_card:hover
{
	background-color: white;
}




.product_name_grid
{
	text-decoration: none;
	font-weight: bold;
	font-size: 1.5em;
	color: darkgreen;
	transition: color .5s;
}

.product_name_grid:hover
{
	color:blue;
}

.product_price_grid 
{ 
	font-weight: bold;
	font-size: 1.1em;
}