/*Grid System*/

a 
{
	display: inline;
}


.user_name_grid
{
	grid-area: user_name_grid; 
	/*background-color: magenta;*/
}



.user_price_grid 
{ 
	grid-area: user_price_grid; 
	/*background-color: yellow;*/
}
.user_in_stock_grid 
{ 
	grid-area: user_in_stock_grid; 
	/*background-color: grey;*/
}
.user_details_link_grid
{ 
	grid-area: user_details_link_grid; 
	/*background-color: blue;*/
}

.empty_cells_grid
{
	grid-area: empty_cells_grid; 
	/*background-color: magenta;*/	
}

.user_card {
	display: grid;
	grid-template-areas:
    'user_name_grid user_name_grid empty_cells_grid'
    "user_price_grid user_price_grid user_details_link_grid";
    grid-template-columns: 33% 33% 34%;
}







/*Styling*/


.user_card>*
{
	padding: 1%;
	display: inline;
}






.user_card, .user_card:hover,
.user_card:active, .user_card:visited
{
	background-color: #dbfdff;
	border: solid 1px black;
	border-radius: 3px;
	margin : 15px 0px;
	color: black;
	text-decoration: none;
	font-size: 1.5em;
	padding: 0px;
}


.user_card:hover
{
	background-color: white;
}




.user_name_grid
{
	text-decoration: underline;
	font-weight: bold;
	font-size: 1.5em;
	color: darkgreen;
}




.user_name_grid:hover
{
	color:blue;
}






.user_in_stock_grid
{
	display: flex;
	vertical-align: middle;
	align-items: center;
}









.user_price_grid 
{ 
	font-weight: bold;
	font-size: 1.1em;
	padding: 1%;
}


.user_details_link_grid, .user_details_link_grid:hover,
.user_details_link_grid:active, .user_details_link_grid:visited
{
	color: green;
	background-color: #dbfdff;
	text-align: center;
	text-decoration: none;
	margin: 1%;
	border: solid black 2px;
	border-radius: 50px;
	font-weight: bold;
	font-size: 1.1em;
}


.user_details_link_grid:hover
{
	color: blue;
	background-color: lightgreen;

}

