{% extends "base_layout.html" %}
{% block title %}Login{% endblock %} 
{% block active_main_navbar %}login{% endblock %}
{% load rest_framework %}

{% block additional_css_content %}

<style type="text/css">
.create_button
{
  background: lime;
  margin: 1em 0em;
  padding: .3em;
  font-weight: bold;
  font-size: 1.2em;
  border-radius: .4em;
  box-shadow: 0px;
  border: solid 2px green;
}


.create_button:hover
{
  background: yellow;
}

</style>

{% endblock %}



<!--
    {% render_form serializer template_pack='rest_framework/vertical' %}
-->


{% block content %}


<form id="form" method="POST">
    {% csrf_token %}

    {{ rendered_form }}

    <button class="create_button" type="submit">Create</button>
</form>

<p id="err_message"></p>







<script type="text/javascript">


function get_form_settings()
{
  var data = $('#form').serializeArray().reduce(function(obj, item) {
    obj[item.name] = item.value;
    return obj;
}, {});

  headers={"Content-Type": "application/json"};
  
  try{
    let elements = document.getElementsByTagName('input');
    headers[" X-CSRFToken"]=
    elements.csrfmiddlewaretoken.attributes["value"]["value"];
  }
  catch{}

  //console.log(headers);
  //console.log(data);


var settings = {
  "url": "{{ request_destination }}",
  "method": "{{ request_method }}",
  "timeout": 0,
  "headers": headers,
  "data": data,
};
return settings;
}



function handle_form(event)
{
  //console.log("Here we go");
  event.preventDefault();
  let settings = get_form_settings();
  console.log(settings);
  /*$.ajax(settings).done(function (response) {
    console.log(response);
  });
  */
}







const form = document.getElementById('form');
form.addEventListener('submit', handle_form);





let elements = document.getElementsByTagName('input');
console.log(elements);




</script>




{% endblock %}
