{% extends "form_master.html" %}



{% block form_handler %}

<script type="text/javascript">




function handle_form(event)
{
  //console.log("Here we go");
  event.preventDefault();

  let settings = get_form_settings();
  //console.log(settings);
  $.ajax(settings).
  then(function (response) {
    //console.log("You Made it");
    //console.log(response);
    //console.log(response["id"]);
    window.location.replace(
      "{{ resource_url }}"+response["id"].toString()+"/");
  })
  .catch((err)=>{
    //console.log("Something Went Wrong");
    clear_errors();
    //console.log(err);
    //console.log(err.responseJSON);
    let json_error = err.responseJSON;

    for(i in json_error)
    {
      let err_element = document.getElementById("form_field_error_"+i);
      err_element.style.display="block";
      //console.log(err_element);
      for(j in json_error[i])
      {
        //console.log(json_error[i][j]);
        var node = document.createElement("LI");                 // Create a <li> node
        var textnode = document.createTextNode(json_error[i][j]);         // Create a text node
        node.appendChild(textnode);                              // Append the text to <li>
        err_element.appendChild(node);     // Append <li> to <ul> with id="myList" 
      }

    }

  })
  
}

</script>












{% endblock %}

