{% extends "base_layout.html" %}
{% block title %}Login{% endblock %} 
{% block active_main_navbar %}login{% endblock %}
{% load rest_framework %}

{% block additional_css_content %}

<style type="text/css">
.create_button
{
  background: lime;
  margin: 1em 0em;
  padding: .3em;
  font-weight: bold;
  font-size: 1.2em;
  border-radius: .4em;
  box-shadow: 0px;
  border: solid 2px green;
}


.create_button:hover
{
  background: yellow;
}


.form_field_error
{color:red; display: none;}


</style>

{% endblock %}



<!--
    {% render_form serializer template_pack='rest_framework/vertical' %}
-->


{% block content %}


<form id="form" method="POST">
    {% csrf_token %}

    {{ rendered_form }}

    <button class="create_button" type="submit">Create</button>
</form>

<p id="err_message"></p>







<script type="text/javascript">


function get_form_settings()
{
  var data = $('#form').serializeArray().reduce(function(obj, item) {
    obj[item.name] = item.value;
    return obj;
}, {});

  //headers={"Content-Type": "application/json"};
  headers={};
  
  try{
    let elements = document.getElementsByTagName('input');
    /*headers[" X-CSRFToken"]=
    elements.csrfmiddlewaretoken.attributes["value"]["value"];*/
  }
  catch{}

  //console.log(headers);
  //console.log(data);


var settings = {
  "url": "{{ request_destination }}",
  "method": "{{ request_method }}",
  "timeout": 0,
  "headers": headers,
  "data": data,
};
return settings;
}






let elements = document.getElementsByTagName('input');
//console.log(elements);




</script>











{% block form_handler %}


<script type="text/javascript">



function handle_form(event)
{
  //console.log("Here we go");
  event.preventDefault();

  let settings = get_form_settings();
  //console.log(settings);
  $.ajax(settings).
  then(function (response) {
    //console.log("You Made it");
    //console.log(response);
    window.location.replace("{{ after_scuess_url }}");
  })
  .catch((err)=>{
    //console.log("Something Went Wrong");
    clear_errors();
    //console.log(err);
    //console.log(err.responseJSON);
    let json_error = err.responseJSON;

    for(i in json_error)
    {
      let err_element = document.getElementById("form_field_error_"+i);
      err_element.style.display="block";
      //console.log(err_element);
      for(j in json_error[i])
      {
        //console.log(json_error[i][j]);
        var node = document.createElement("LI");                 // Create a <li> node
        var textnode = document.createTextNode(json_error[i][j]);         // Create a text node
        node.appendChild(textnode);                              // Append the text to <li>
        err_element.appendChild(node);     // Append <li> to <ul> with id="myList" 
      }

    }

  })
  
}

</script>

{% endblock %}


<script type="text/javascript">

const form = document.getElementById('form');
form.addEventListener('submit', handle_form);



</script>






<script type="text/javascript">
  /*Handling Errors*/
var error_message_elements =
document.getElementsByClassName('form_field_error');


var fields_names = {{ fields_names|safe }};
var errors_ids = {{ errors_ids|safe }};

//console.log(errors_ids);

function clear_errors()
{
  for(i in errors_ids)
  {
    document.getElementById(errors_ids[i]).style.display="none";
    document.getElementById(errors_ids[i]).innerHTML="";

  }
}

clear_errors();

//console.log( fields_names );
//console.log( errors_ids );





</script>













{% endblock %}
