{% extends "base_layout.html" %}
{% load static %}
{% load i18n %}
{% load rest_framework %}

{% block additional_css_content %}
<style type="text/css">


</style>

{% endblock %}




{% block content %}

<div>
{{ response.author_id }}

<hr>


{{ request.user.id }}


<hr>


{% if request.user.id == response.author_id %}
He is the Author
{% endif %}

</div>




{% for key,value in response.items %}
<b>{{ key }}</b>: {{ value }}
<br>
{% endfor %}


<script type="text/javascript">
	
</script>





{% endblock %}


