{% extends "base_layout.html" %}
{% load static %}
{% load i18n %}
{% load rest_framework %}

{% block additional_css_content %}
<style type="text/css">


</style>

{% endblock %}




{% block content %}

<div>






<button id="delete_button" onclick="delete_item()">
{% csrf_token %}
DELETE</button>



<hr>
<a href="/update{{ request.path }}">
<button>Edit</button>
</a>


<hr>










{% for key,value in response.items %}
<b>{{ key }}</b>: {{ value }}
<br>
{% endfor %}


<script type="text/javascript">


function get_csrf_token()
{
	return document.getElementsByTagName('input').csrfmiddlewaretoken.defaultValue;
}



function delete_item(event){

//console.log("I will be deleted");



var settings = {
  "url": "/api{{ request.path }}",
  "method": "DELETE",
  "timeout": 0,
  "headers": {"X-CSRFTOKEN":get_csrf_token()}
};

//console.log(settings);
$.ajax(settings).
then(function (response) {
  window.location.replace("/my_products/");
});
}





const delete_button = document.getElementById('delete_button');
delete_button.addEventListener('click', handle_form);


	
</script>






{% endblock %}


