{% extends "base_layout.html" %}
{% block content %}




<div class="items_container" style="padding: 2%;">

	{% for user in users %}
	
	<div class="user_card">
		<span class="empty_cells_grid"></span>

		<a class="user_name_grid" 
			href="{% url item_url_name pk=user.pk %}">
			{{ user.username }}

		</a>
		<div class="user_price_grid">
			ID: {{ user.id }}
		</div>

			<a class="user_details_link_grid" 
				href="{% url item_url_name pk=user.pk %}">
				View User Details
			</a>
	 </div>
   
	{% endfor %}
<!--
{% url "user-list" %}
-->

</div>



<script type="text/javascript">
	
</script>





{% endblock %}


