<!DOCTYPE html>
<html>
<head>

	<link rel="stylesheet" href="/static/style.css">
	

	<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">

	<script src="/static/bootstrap/js/jquery.js"></script>
	<script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>


<style type="text/css">
	


</style>

	<title></title>
</head>
<body>



	<header class="container-fluid">
		<a class="container-fluid cantiin_header" href="/">
			Cantiin
		</a>
	</header>


	<nav class="main_nav_bar container-fluid p-0 m-0 bg-dark">


		<div class="main_nav_bar_section p-0 m-0">
			<a class="main_nav_bar_link" href="/" style="margin-left: 10px;"
				id="main_nav_link_home">Home</a>
			<a class="main_nav_bar_link" href="/api" target="blank"
				id="main_nav_link_api">API</a>
			<a class="main_nav_bar_link" href="/products"
				id="main_nav_link_products">Products</a>
			<a class="main_nav_bar_link" href="/"
				id="main_nav_link_users">Users</a>
			<a class="main_nav_bar_link" href="/"
				id="main_nav_link_orders">Orders</a>
			<a class="main_nav_bar_link" href="/"
				id="main_nav_link_comments">Comments</a>
		</div>



		<div class="main_nav_bar_section p-0 m-0"
		style="justify-content: flex-end;">
			<a class="main_nav_bar_link" href="/"
				id="main_nav_link_signup">SignUp</a>
			<a class="main_nav_bar_link" href="/"  style="margin-right: 10px;"
				id="main_nav_link_login">Login</a>
		</div>


<!--

		<div class="main_nav_bar_section p-0 m-0"
		style="justify-content: flex-end;" 
		>Second</div>-->
	</nav>


	<main class="wrapper">
		{% block content %}
		{% endblock %}
	</main>


<div class="side_nav_left">
	
</div>
<div class="side_nav_right"></div>

<footer class="">I am Footer</footer>





</body>
</html>
