<!DOCTYPE html>
<html>
<head>

	<link rel="stylesheet" href="/static/style.css">
	

	<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">

	<script src="/static/bootstrap/js/jquery.js"></script>
	<script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>


<style type="text/css">
	


</style>

	<title></title>
</head>
<body>



	<header class="container-fluid text-center p-0 m-0">
		<a class="container-fluid link-success p-0 m-0 bg-danger" href="/">
			<h2 class="m-0 bg-whitept-2 p-1 fw-bold">Cantiin</h2>
		</a>
	</header>


	<nav class="">I am Nav</nav>


	<main class="wrapper">
		{% block content %}
		{% endblock %}
	</main>


<div class="side_nav_left"></div>
<div class="side_nav_right"></div>

<footer class="">I am Footer</footer>





</body>
</html>
