<!DOCTYPE html>
<html>
<head>

	<link rel="stylesheet" href="/static/style.css">
	
<!--

	<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">

	<script src="/static/bootstrap/js/jquery.js"></script>
	<script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
-->


<style type="text/css">
	


</style>

	<title></title>
</head>
<body>



	<header>
		<a class="" href="/">
			<h2 class="">Cantiin</h2>
		</a>
	</header>


	<nav class="">I am Nav</nav>


	<main class="wrapper">
		{% block content %}
		{% endblock %}
	</main>


<div class="side_nav">I am side nav</div>

<footer class="">I am Footer</footer>





</body>
</html>
