{% extends "base_layout.html" %}
{% block content %}



<h1>{{ title }}:</h1>


<div class="items_container" style="margin: 0px; padding: 0px;">

    {% for product in products %}
    	
     <a class="product_card" 
     href="{% url 'product-detail-test' id=product.pk %}">
	    	<span class="product_name_grid">{{ product.name }}</span>
	    	<div class="product_price_grid">
	    			${{ product.price }}
	    	</div>
    		<div class="product_in_stock_grid">
    			{% if product.in_stock %}
    				Available
    			{% else %}
    				<span><del>Available</del></span>
    			{% endif %}
    		</div>
     </a>
   
    {% endfor %}

</div>
{% endblock %}


