{% extends "base_layout.html" %}
{% block content %}




<div class="items_container" style="padding: 2%;">

	{% for product in products %}
		
	 <div class="product_card">
		<a class="product_name_grid" 
			href="{% url item_url_name id=product.pk %}">
			{{ product.name }}
		</a>
		<div class="product_price_grid">
				${{ product.price }}
		</div>
		<div class="product_in_stock_grid">
			{% if product.in_stock %}
				<span class="product_in_stock">In Stock</span>
			{% else %}
				<span 
				class="product_out_stock">
				Out of Stock
				</span>
			{% endif %}
		</div>
			<a class="product_details_link_grid" 
				href="{% url item_url_name id=product.pk %}">
				View Products Details
			</a>
	 </div>
   
	{% endfor %}
{% url "product-list" %}
</div>



<script type="text/javascript">
	
</script>





{% endblock %}


