html, body>*{
	box-sizing: border-box;
	padding: 0px; margin: 0px;
}

*{transition: .5s;}



body,html
{
	margin: 0px; padding: 0px;
	width: 100%; height: 100%;
	border: none;
}



.cantiin_header, .cantiin_header:hover, 
.cantiin_header:visited, .cantiin_header:active
{text-decoration: none;}



.cantiin_header
{
	display: block;
	padding: auto; margin: 0px;
	text-align: center; vertical-align: middle;
	width: 100%; height: 100%;
	font-weight: bold;
	font-size: 2.8em;
	color: blue;
}
.cantiin_header:hover
{color: green;}






/*Grid System*/


header { grid-area: header;}
.main_nav_bar { grid-area: nav; background-color: yellow;}
main { grid-area: main; background-color: blue;}
footer { grid-area: footer; background-color: lightgrey;}
.side_nav_left{grid-area: side_nav_left; 
	background-color: transparent; display: inline;}
.side_nav_right{grid-area: side_nav_right; 
	background-color: transparent; display: inline;
}

body {
	display: grid;
	grid-template-areas:
    'header header header'
    'nav nav nav'
    "side_nav_left main side_nav_right"
    'footer footer footer';
	grid-gap: 0px 0px;
	grid-template-columns: 0% 100% 0%;
	grid-template-rows: 70px 55px auto 87px;
}








/*Nav Bar*/

.main_nav_bar
{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

.main_nav_bar_section {
	background-color: #212529;
	display: flex;
	justify-content: flex-start;
	display: inline;
}


.main_nav_bar_link
{
	background-color:  #212529;
	text-decoration: none;
	font-weight: bold;
	margin: 0px;
	padding: 9px;
	float: left;
	font-size: 1.55em;
}


.main_nav_bar_link, .main_nav_bar_link:visited, 
.main_nav_bar_link:active
{color: lime;}

.main_nav_bar_link:hover
{
	color: blue;
	background-color: white;
}


.main_nav_link_active, 
.main_nav_link_active:visited,
.main_nav_link_active:active
{ color: black; background-color: yellow; }

.main_nav_link_active:hover
{ color: black; background-color: lime; }





main
{
	padding: 18px;
	background-color: white;
}



h1,h2, h3
{
	font-weight: bold;
}

.h2{
	font-size: 1.5em;
}


.normal_text, .normal_text *{
	font-size: 1.2em;
}



#page_h1
{
	font-weight: bold;
	font-size: 2.8em;
}



























/*Pagination*/

.pagination_nav
{
	display: block;
	margin:0px;
}

.pagination_nav a{
	text-decoration: none;
	color: black;
}

.pagination_nav li
{
	margin: 0px;
	padding: 8px;
	text-decoration: none;
	font-size: 1.3em;
	border: solid 1px black;
	background-color: lightyellow;
}

.pagination_nav li:hover
{background-color: lightgreen;}

.pagination_nav  li.disabled
{background-color: lightgrey;}

.pagination_nav li.active
{background-color: cyan;}




