{% extends "base_layout.html" %}
{% block title %}Home{% endblock %}
{% block active_main_navbar %}home{% endblock %}
{% block content %}

<h1> Home :</h1>
<p>

Welcome.
</p>
















<h2 
class="h2">
<b>What?</b></h2>










<p class="normal_text">
Cantiin is an open source project.<br>
License is MIT license.<br>
This is the link to the github project: 
<a
href="https://github.com/OmarThinks/cantiin_django"
target="_blank">cantiin_django (Opens in a new tab)</a><br>
Which means that it is so free to use, sell, resell, edit,
for personal and commercial usage, without taking the permission
of the producer (me), the only restriction is that there is no 
warranty.<br>
Cantiin is an E-Commerce website.<br>
People post their products and other people can add it to their
cart, and they specify the amount to add this product into
the cart.<br>
</p>




<h2 class="">
<b>Who?</b></h2>
<p class="normal_text">
Thank you for asking :)<br>
Peace be upon you!<br>
My name is <b>Omar Magdy</b>, I am a web 
developer from Egypt.<br>
You can find me on 
<a 
href="https://github.com/OmarThinks"
target="_blank">Github</a>,


<a
href="https://www.linkedin.com/in/omar-magdy-28497a200/"
target="_blank">Linkedin</a> and

<a
href="https://www.facebook.com/profile.php?id=100030832995538"
target="_blank">Facebook</a>.


</p>






        <h2 class="">
        <b>Why?</b></h2>
<p class="normal_text">
To prove that i am a web developer.<br>
I am a job seeker.<br>
And there is nothing that can help me more than proving 
my skills in an infinite project that I keep woking on and
upgrading forever, or until I get a job.<br>
This is my live CV.<br>
If God willed. I am planning to keep learning and keep working
on this project.<br>
There are more topics to study, like Docker, Kubernetes
and DevOps.<br>
And there is much more to add to this project, like product images,
user data, handling cart .. ect.
</p>






        <h2 class="">
        <b>How?</b></h2>

<p class="normal_text">
Used Technologies:
<br>
Frontend:<br>
<ol style="">
  <li>HTML</li>
  <li>CSS</li>
  <li>JavaScript</li>
  <li>Bootstrap</li>
  <li>AJAX</li>
  <li>JSON</li>
  <li>Jinja</li>
</ol>
</p>
<p class="normal_text">
Backend:
<ol style="">
  <li>Python</li>
  <li>SQLite Database</li>
  <li>
  SQLAlchemy (ORM)(Object Relational Mapping)</li>
  <li>Flask</li>
  <li>Flask-CORS</li>
  <li>API Endpoints</li>
  <li>HTTPOnly Cookies</li>
  To minimize the risk of XSS exploits
  <li>Authentication</li>
  Using cookies, username and password
  <li>Authorization</li>
  The user can only control the products that he posted<br>
  I might use RBAC model in the future, 
  But I didn't use it here
  <li>JWT (JSON Web Tokens)</li>
  In each cookie there is a jwt token, 
  to make the authentication
  <li>UnitTest</li>
  To Test Python functions 
  and SQLAlchemy Models<br>
  (I used 112 Tests)

  <li>Postman Collection 
  </li>
  To Test API Endpoints<br>
  (I used 75 Requests)
  <li>Docker</li>


</ol>
</p>

<p class="normal_text">
Other Technologies:
<ol style="">
  <li>Git</li>
  <li>Github</li>
</ol>
</p>



































{% endblock %}


