{% extends "base_layout.html" %}
{% block title %}Login{% endblock %} 
{% block active_main_navbar %}login{% endblock %}
{% load rest_framework %}

{% block content %}


<form id="form">
    {% csrf_token %}
    {% render_form serializer template_pack='rest_framework/vertical' %}
    <button type="submit" class="btn btn-default">Sign in</button>
</form>

<p id="err_message"></p>






<script>
   function toSubmit(e){
      alert('I will not submit');
      return false;
   }
</script>


<script type="text/javascript">


function form_data_to_object()
{
    let all_inputs = document.getElementsByTagName('input');
    let inputs = {};
    for(i in all_inputs)
    {
      let input = all_inputs[i];
      if(typeof(input)!=typeof({"1":2})){continue;}
      if (input.type == "hidden") {continue;}
      inputs[input.name] = input.value;
    }
    return inputs;
}



function handle_form(event)
{
    event.preventDefault();
    let form_data = form_data_to_object();
    console.log(form_data);
      















}







const form = document.getElementById('form');
form.addEventListener('submit', handle_form);



</script>





{% endblock %}
